.pass-instruction:hover::before {
    content: "You initially have 5 positions in you ban list and wish list, 5 more position would be rewared with leveling up. 10 comments required for each level up. when you have at least 50 comments you would have unlimited position!";
    top: 17px;
    left: 0;
    background-color: #333;
    color: #fff;
    /* padding: 5px; */
    border-radius: 5px;
    line-break: normal;
    white-space: pre-line;
    position: absolute;
    width: 370px;
}