.welcomeBackground {
  background-image: url("../images/cinema.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #400b0a;
  height: 800;
  text-align: center;
}
